@page "/CriarConta"
<div class="container text-center">
    <div class="col-md-12">
        <h2>Cadastre-se agora mesmo</h2>
        <form class="text-left">
            <h4>Informações Pessoais</h4>
            <div class="row">
                <div class="form-group col-md-8 col-12">
                    <label for="Nome">Nome Completo</label>
                    <input type="text" class="form-control" id="Nome" name="Nome" required>
                </div>
                <div class="form-group col-md-4 col-12">
                    <label for="Apelido">Apelido</label>
                    <input type="text" class="form-control" id="Apelido" name="Apelido">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="CPF">CPF</label>
                    <input type="text" class="form-control input-cpf" id="CPF" name="CPF">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="UF-RG">UF de emissão do RG</label>
                    <select class="form-control" id="UF-RG" name="UF-RG">
                        <option value="00"> Selecione </option>
                        <option value="AC"> Acre </option>
                        <option value="AL"> Alagoas </option>
                        <option value="AP"> Amapá </option>
                        <option value="AM"> Amazonas </option>
                        <option value="BA"> Bahia </option>
                        <option value="CE"> Ceará </option>
                        <option value="ES"> Espírito Santo </option>
                        <option value="DF"> Distrito Federal </option>
                        <option value="GO"> Goiás </option>
                        <option value="MA"> Maranhão </option>
                        <option value="MT"> Mato Grosso </option>
                        <option value="MS"> Mato Grosso do Sul </option>
                        <option value="MG"> Minas Gerais </option>
                        <option value="PA"> Pará </option>
                        <option value="PB"> Paraíba </option>
                        <option value="PR"> Paraná </option>
                        <option value="PE"> Pernambuco </option>
                        <option value="PI"> Piauí </option>
                        <option value="RJ"> Rio de Janeiro </option>
                        <option value="RN"> Rio Grande do Norte </option>
                        <option value="RS"> Rio Grande do Sul </option>
                        <option value="RO"> Rondônia </option>
                        <option value="RR"> Roraima </option>
                        <option value="SC"> Santa Catarina </option>
                        <option value="SP"> São Paulo </option>
                        <option value="SE"> Sergipe </option>
                        <option value="TO"> Tocantins </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="RG-OE">Órgão expedidor do RG</label>
                    <select class="form-control" id="RG-OE" name="RG-OE">
                        <option value="10"> SSP </option>
                        <option value="40"> Organismos Militares </option>
                        <option value="41"> Comando da Aeronáutica </option>
                        <option value="42"> Comando do Exército </option>
                        <option value="43"> Comando da Marinha </option>
                        <option value="44"> Polícia Federal </option>
                        <option value="60"> Carteirade Identidade Classista </option>
                        <option value="61"> Conselho Regional de Administração </option>
                        <option value="62"> Conselho Regional de Assist. Social </option>
                        <option value="63"> Conselho Regional de Biblioteconomia </option>
                        <option value="64"> Conselho Regional de Contabilidade </option>
                        <option value="65"> Conselho Regional de Corretores Imóveis </option>
                        <option value="66"> Conselho Regional de Enfermagem </option>
                        <option value="67"> Conselho Regional de Engenharia, Arquitetura e Agronomia </option>
                        <option value="68"> Conselho Regional de Estatística </option>
                        <option value="69"> Conselho Regional de Farmácia </option>
                        <option value="70"> Conselho Regional de Fisioterapia e Terapia Ocupacional </option>
                        <option value="71"> Conselho Regional de Medicina </option>
                        <option value="72"> Conselho Regional de Medicina Veterinária </option>
                        <option value="73"> Ordem dos Músicos do Brasil </option>
                        <option value="74"> Conselho Regional de Nutrição </option>
                        <option value="75"> Conselho Regional de Odontologia </option>
                        <option value="76"> Conselho Regional de Profissionais de Relações Públicas </option>
                        <option value="77"> Conselho Regional de Psicologia </option>
                        <option value="78"> Conselho Regional de Química </option>
                        <option value="79"> Conselho Regional de Representantes Comerciais </option>
                        <option value="80"> Ordem dos Advogados do Brasil </option>
                        <option value="81"> Outros Emissores </option>
                        <option value="82"> Documento Estrangeiro </option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="RG">RG</label>
                    <input type="text" class="form-control input-rg" id="RG" name="RG">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="DataNasc">Data Nascimento</label>
                    <input type="date" class="form-control" id="DataNasc" name="DataNasc">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="estadoCivil">Estado civil</label>
                    <select class="form-control" id="estadoCivil" name="estadoCivil">
                        <option> Selecione </option>
                        <option> Solteiro </option>
                        <option> Relaciomento Sério </option>
                        <option> Casado </option>
                        <option> Separado </option>
                        <option> Divorciado </option>
                        <option> Viúvo </option>
                    </select>
                </div>
            </div>
            <h4>Endereço</h4>
            <div class="row">
                <div class="form-group col-md-4 col-12">
                    <label for="CEP">CEP</label>
                    <input type="text" class="form-control input-cep" id="CEP" name="CEP">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="Endereco"> Logradouro </label>
                    <input type="text" class="form-control" id="Endereco" name="Endereco">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="Numero"> Número </label>
                    <input type="number" class="form-control" id="Numero" name="Numero">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="Bairro">Bairro</label>
                    <input type="text" class="form-control" id="Bairro" name="Bairro">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="Cidade">Cidade</label>
                    <input type="text" class="form-control" id="Cidade" name="Cidade">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="Complemento">Complemento</label>
                    <input type="text" class="form-control" id="Complemento" name="Complemento">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="UF">UF (Estado)</label>
                    <select class="form-control" id="UF" name="UF">
                        <option value="AC"> Acre </option>
                            <option value="AL"> Alagoas </option>
                            <option value="AP"> Amapá </option>
                            <option value="AM"> Amazonas </option>
                            <option value="BA"> Bahia </option>
                            <option value="CE"> Ceará </option>
                            <option value="ES"> Espírito Santo </option>
                            <option value="DF"> Distrito Federal </option>
                            <option value="GO"> Goiás </option>
                            <option value="MA"> Maranhão </option>
                            <option value="MT"> Mato Grosso </option>
                            <option value="MS"> Mato Grosso do Sul </option>
                            <option value="MG"> Minas Gerais </option>
                            <option value="PA"> Pará </option>
                            <option value="PB"> Paraíba </option>
                            <option value="PR"> Paraná </option>
                            <option value="PE"> Pernambuco </option>
                            <option value="PI"> Piauí </option>
                            <option value="RJ"> Rio de Janeiro </option>
                            <option value="RN"> Rio Grande do Norte </option>
                            <option value="RS"> Rio Grande do Sul </option>
                            <option value="RO"> Rondônia </option>
                            <option value="RR"> Roraima </option>
                            <option value="SC"> Santa Catarina </option>
                            <option value="SP"> São Paulo </option>
                            <option value="SE"> Sergipe </option>
                            <option value="TO"> Tocantins </option>
                    </select>
                </div>
            </div>
            <h4>Dados de adicionais</h4>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="Renda">Renda</label>
                    <input type="text" class="form-control input-valor" id="Renda" name="Renda">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="Celular">Celular</label>
                    <input type="text" class="form-control input-celular" id="Celular" name="Celular">
                </div>
            </div>
            <h4>Dados de acesso</h4>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email">
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="Senha">Senha</label>
                    <div class="input-group">
                        <input type="password" class="form-control senha" min="5" id="Senha" placeholder="Senha">
                        <div class="input-group-prepend verSenha">
                            <div class="input-group-text">
                                <span class="senha">Ver senha</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="Senha">Confirmar senha</label>
                    <div class="input-group">
                        <input type="password" class="form-control senha" min="5" id="SenhaConfimar" placeholder="Senha">
                        <div class="input-group-prepend verSenha">
                            <div class="input-group-text">
                                <span class="senha">Ver senha</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="CheckTermos">
                <label class="form-check-label" for="CheckTermos">
                    Concordo com os <a>Termos de uso</a>
                </label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="CheckMarketing">
                <label class="form-check-label" for="CheckMarketing">
                    Aceito o <a>uso dos meus dados para marketing personalizado</a>
                </label>
            </div>
            <div class="text-center">
                <a class="btn btn-secondary" href="javascript:history.back()">Voltar</a>
                <button type="submit" class="btn btn-success">Fazer o cadastro</button>
            </div>
        </form>
        <br>
    </div>
</div>