@page "/CriarConta2"

<div class="container text-center">
    <div class="col-md-12">
        <h2>Cadastre-se agora mesmo</h2>
        <form class="text-left">
            <hr />
            <h4>Informações Pessoais</h4>
            <div class="row">
                <div class="form-group col-md-8 col-12">
                    <label for="nome">Nome Completo</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                <div class="form-group col-md-4 col-12">
                    <label for="apelido">Apelido</label>
                    <input type="text" class="form-control" id="apelido" name="apelido">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="CPF">CPF</label>
                    <input type="text" class="form-control input-cpf" id="CPF" name="CPF">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="UF-RG">UF de emissão do RG</label>
                    <select class="form-control" id="UF-RG" name="UF-RG">
                        <option value="00"> Selecione </option>
                        <option value="AC"> Acre </option>
                        <option value="AL"> Alagoas </option>
                        <option value="AP"> Amapá </option>
                        <option value="AM"> Amazonas </option>
                        <option value="BA"> Bahia </option>
                        <option value="CE"> Ceará </option>
                        <option value="ES"> Espírito Santo </option>
                        <option value="DF"> Distrito Federal </option>
                        <option value="GO"> Goiás </option>
                        <option value="MA"> Maranhão </option>
                        <option value="MT"> Mato Grosso </option>
                        <option value="MS"> Mato Grosso do Sul </option>
                        <option value="MG"> Minas Gerais </option>
                        <option value="PA"> Pará </option>
                        <option value="PB"> Paraíba </option>
                        <option value="PR"> Paraná </option>
                        <option value="PE"> Pernambuco </option>
                        <option value="PI"> Piauí </option>
                        <option value="RJ"> Rio de Janeiro </option>
                        <option value="RN"> Rio Grande do Norte </option>
                        <option value="RS"> Rio Grande do Sul </option>
                        <option value="RO"> Rondônia </option>
                        <option value="RR"> Roraima </option>
                        <option value="SC"> Santa Catarina </option>
                        <option value="SP"> São Paulo </option>
                        <option value="SE"> Sergipe </option>
                        <option value="TO"> Tocantins </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="RG-OE">Órgão expedidor do RG</label>
                    <select class="form-control" id="RG-OE" name="RG-OE">
                        <option value="00"> Selecione </option>
                        <option value="10"> SSP - Secretaria da Segurança Pública </option>
                        <option value="40"> Organismos Militares </option>
                        <option value="41"> Comando da Aeronáutica </option>
                        <option value="42"> Comando do Exército </option>
                        <option value="43"> Comando da Marinha </option>
                        <option value="44"> Polícia Federal </option>
                        <option value="60"> Carteirade Identidade Classista </option>
                        <option value="61"> Conselho Regional de Administração </option>
                        <option value="62"> Conselho Regional de Assist. Social </option>
                        <option value="63"> Conselho Regional de Biblioteconomia </option>
                        <option value="64"> Conselho Regional de Contabilidade </option>
                        <option value="65"> Conselho Regional de Corretores Imóveis </option>
                        <option value="66"> Conselho Regional de Enfermagem </option>
                        <option value="67"> Conselho Regional de Engenharia, Arquitetura e Agronomia </option>
                        <option value="68"> Conselho Regional de Estatística </option>
                        <option value="69"> Conselho Regional de Farmácia </option>
                        <option value="70"> Conselho Regional de Fisioterapia e Terapia Ocupacional </option>
                        <option value="71"> Conselho Regional de Medicina </option>
                        <option value="72"> Conselho Regional de Medicina Veterinária </option>
                        <option value="73"> Ordem dos Músicos do Brasil </option>
                        <option value="74"> Conselho Regional de Nutrição </option>
                        <option value="75"> Conselho Regional de Odontologia </option>
                        <option value="76"> Conselho Regional de Profissionais de Relações Públicas </option>
                        <option value="77"> Conselho Regional de Psicologia </option>
                        <option value="78"> Conselho Regional de Química </option>
                        <option value="79"> Conselho Regional de Representantes Comerciais </option>
                        <option value="80"> Ordem dos Advogados do Brasil </option>
                        <option value="81"> Outros Emissores </option>
                        <option value="82"> Documento Estrangeiro </option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="RG">RG</label>
                    <input type="text" class="form-control input-rg" id="RG" name="RG">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="DataNasc">Data Nascimento</label>
                    <input type="date" class="form-control" id="DataNasc" name="DataNasc">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="estadoCivil">Estado civil</label>
                    <select class="form-control" id="estadoCivil" name="estadoCivil">
                        <option> Selecione </option>
                        <option> Solteiro </option>
                        <option> Relaciomento Sério </option>
                        <option> Casado </option>
                        <option> Separado </option>
                        <option> Divorciado </option>
                        <option> Viúvo </option>
                    </select>
                </div>
            </div>
            <hr />
            <h4>Endereço</h4>
            <div class="row align-items-end">
                <div class="form-group col-md-4 col-12">
                    <label for="cep">CEP</label>
                    <input type="text" class="form-control input-cep" id="cep" name="cep" placeholder="CEP">
                </div>
                <div class="form-group col-md-4" onclick="buscaCEP()">
                    <a class="btn btn-primary text-center icone-cep">
                        Buscar CEP <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="endereco"> Logradouro </label>
                    <input type="text" class="form-control" id="endereco" name="endereco">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="bumero"> Número </label>
                    <input type="number" class="form-control" id="numero" name="numero">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" name="bairro">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" name="cidade">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento" name="complemento">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="UF">UF (Estado)</label>
                    <select class="form-control" id="UF" name="UF">
                        <option value="00"> Selecione </option>
                        <option value="AC"> Acre </option>
                        <option value="AL"> Alagoas </option>
                        <option value="AP"> Amapá </option>
                        <option value="AM"> Amazonas </option>
                        <option value="BA"> Bahia </option>
                        <option value="CE"> Ceará </option>
                        <option value="ES"> Espírito Santo </option>
                        <option value="DF"> Distrito Federal </option>
                        <option value="GO"> Goiás </option>
                        <option value="MA"> Maranhão </option>
                        <option value="MT"> Mato Grosso </option>
                        <option value="MS"> Mato Grosso do Sul </option>
                        <option value="MG"> Minas Gerais </option>
                        <option value="PA"> Pará </option>
                        <option value="PB"> Paraíba </option>
                        <option value="PR"> Paraná </option>
                        <option value="PE"> Pernambuco </option>
                        <option value="PI"> Piauí </option>
                        <option value="RJ"> Rio de Janeiro </option>
                        <option value="RN"> Rio Grande do Norte </option>
                        <option value="RS"> Rio Grande do Sul </option>
                        <option value="RO"> Rondônia </option>
                        <option value="RR"> Roraima </option>
                        <option value="SC"> Santa Catarina </option>
                        <option value="SP"> São Paulo </option>
                        <option value="SE"> Sergipe </option>
                        <option value="TO"> Tocantins </option>
                    </select>
                </div>
            </div>
            <hr />
            <h4>Dados de adicionais</h4>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="Renda">Renda</label>
                    <input type="text" value="1.000,00" class="form-control input-valor" id="Renda" name="Renda">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="celular">Celular</label>
                    <input type="text" class="form-control input-celular" id="celular" name="celular">
                </div>
            </div>
            <hr />
            <h4>Dados de acesso</h4>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="row">
                <div class="row form-group col-md-6 col-12 p-0 m-0 align-items-end">
                    <div class="form-group col-md-7 col-12">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control senha" min="5" id="senha" name="senha"
                        placeholder="Senha">
                    </div>
                    <div class="form-group col-md-5 col-12">
                        <a class="btn btn-primary verSenha">
                            <span class="senha">Ver senha</span>
                        </a>
                    </div>
                </div>
                <div class="row form-group col-md-6 col-12 p-0 m-0 align-items-end">
                    <div class="form-group col-md-7 col-12">
                        <label for="senhaConfimar">Confirmar senha</label>
                        <input type="password" class="form-control senha" min="5" id="senhaConfimar"
                        name="senhaConfimar" placeholder="Confirmar senha">
                    </div>
                    <div class="form-group col-md-5 col-12">
                        <a class="btn btn-primary verSenha">
                            <span class="senha">Ver senha</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="CheckTermos">
                <label class="form-check-label" for="CheckTermos">
                    Concordo com os <a>Termos de uso</a>
                </label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="CheckMarketing">
                <label class="form-check-label" for="CheckMarketing">
                    Aceito o <a>uso dos meus dados para marketing personalizado</a>
                </label>
            </div>
            <div class="text-center">
                <a class="btn btn-secondary" href="javascript:history.back()">Voltar</a>
                <button type="submit" class="btn btn-success">Fazer o cadastro</button>
            </div>
        </form>
        <br>
    </div>
</div>