@page "/imoveis"
@using System.Net.Http
@inject HttpClient Http

<div class="conteiner text-center">
    <h1 class="ml-5 text-left"> Buscar im칩veis </h1>
    <form class="form-inline justify-content-center">
        <div class="form-group">
            <input type="text" class="form-control" id="BuscaCidade" name="cidade" placeholder="Cidade">
        </div>
        <div class="form-group ml-2">
            <input type="text" class="form-control" id="BuscaBairro" name="bairro" placeholder="Bairro">
        </div>
        <div class="form-group ml-2">
            <select class="form-control" id="BuscaValor" name="valor">
                <option> 800 reais </option>
                <option> 1200 reais </option>
                <option> 2400 reais </option>
                <option> 3000 reais </option>
                <option> 4000 reais </option>
                <option> Ver todos </option>
            </select>
        </div>
        <div class="form-group ml-2">
            <select class="form-control" name="tipoImovel" id="tipoImovel">
                <option> Tipo de im칩vel </option>
                <option> Casa </option>
                <option> Apartamento </option>
                <option> Ch치cara </option>
            </select>
        </div>
        <div class="form-group ml-2">
            <select class="form-control" name="tipoImovel" id="tipoImovel">
                <option> Tipo de contrato </option>
                <option> Aluguel </option>
                <option> Venda </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary ml-2"> Buscar </button>
    </form>
    <br>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            @foreach (var item in imoveisList)
            {
                <div class="col mb-4">
                    <div class="card h-100">
                        <img class="img-fluid card-img-top" src="https://picsum.photos/400/300?random=1" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.TipoImovel</h5>
                            <span class="badge badge-primary">@item.Status</span>
                            <p class="card-text">@item.Cidade/@item.UF</p>
                        </div>
                        <div class="card-footer">
                            <div class="w-100">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"> R$ @item.Valor </li>
                                </ul>
                            </div>
                            <br> 
                            <a href="/imoveis/@item.IdImovel.ToString()" class="btn btnAmarelo"> Ver im칩vel </a>
                        </div>
                    </div>
                </div>
            } 
        </div>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary">
            <i class="fas fa-arrow-alt-circle-left"></i>
        </button>
        <button type="button" class="btn btn-secondary active">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
        <button type="button" class="btn btn-secondary">
            <i class="fas fa-arrow-alt-circle-right"></i>
        </button>
    </div>
</div>

@code {
    private List<Imovel> imoveisList = new List<Imovel>();

    protected override async Task OnInitializedAsync()
    {
        var imoveis = await Http.GetFromJsonAsync<List<Imovel>>("/Imovel/List");
        foreach (var item in imoveis)
        {
            imoveisList.Add(item);
        }
    }
}