@page "/sobreNos"

<div class="container text-center">
    <div class="col-md-12">
        <h2>Sobre Nós</h2>

        <div class="row">
            <p>
                Oi, nós somos a <strong>DIRECT BUSINESS!</strong>
            </p>
            <p class="text-justify">
                O nosso objetivo o principal? Oferecer a melhor experiência para alugar/comprar um imóvel que você já viu. 
                Nós não nascemos ontem, e por isso mesmo já descobrimos a melhor maneira de proporcionar o 
                melhor meio para realizar uma negociação direta totalmente segura de uma forma gratuita.
                <br>
                O melhor de tudo? Fazemos questão de oferecer um excelente atendimento ao cliente.
                <br>
                Por último, gostaríamos de afirmar que a nossa principal prioridade é você, o nosso cliente.
                peramos que você desfrute da experiência da <strong>negociação direta</strong> que preparamos com tanto carinho.
                <br>
            </p>
        </div>

        <h5 class="text-left">Conheça nossa equipe</h5>
        <div class="row">
            <div class="col-md-3">
                <img src="img/Any.jpg" class="rounded-circle" width="150" height="150" />
                <div>
                    <strong>Any</strong>
                    <br>
                    <p>Auxiliar de vendas de E-commerce</p>
                </div>
            </div>
            <div class="col-md-3">
                <img src="img/Gabriel.jpg" class="rounded-circle" width="150" height="150" />
                <div>
                    <strong>Gabriel</strong>
                    <br>
                    <p>Descrição</p>
                </div>
            </div>
            <div class="col-md-3">
                <img src="img/Geraldo.jpg" class="rounded-circle" width="150" height="150" />
                <div>
                    <strong>Geraldo</strong>
                    <br>
                    <p>Estagiário em Análise de Testes na Webline Sistemas</p>
                </div>

            </div>
            <div class="col-md-3">
                <img src="img/Giovanna.jpeg" class="rounded-circle" width="150" height="150" />
                <div>
                    <strong>Giovanna</strong>
                    <br>
                    <p>Estagiária em Desenvolvimento de Sistemas na Boa Vista SCPC</p>
                </div>
            </div>
        </div>

        <div class="alert alert-info" role="alert">
            <h4>Será através da tendência tecnológica disruptiva que o Direct Business se instala e 
                promete ultrapassar as expectativas.</h4>
        </div>
        <br>
    </div>
</div>